[submodule "themes/sam"]
	path = themes/sam
	url = https://github.com/victoriadrake/hugo-theme-sam.git
[submodule "themes/paperback"]
	path = themes/paperback
	url = https://github.com/damiencaselli/paperback.git
