<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body class="front crt">
 
  <div class="container">
    <h1>{{ .Title | markdownify }}</h1>
    
    <nav role="navigation" class="flex-container big-link">
        {{ if .Site.Menus.main }}
          {{ range .Site.Menus.main }}
          <a href="{{ .URL }}">{{.Name}}</a>
          {{ end }}
        {{ end }}
    </nav>
    
        <aside>aside
      {{ with $.Params.hologram }}
        <script src='https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.5.1/dat.gui.min.js'></script>
        <link rel="stylesheet" href='{{ "js/hologram/hologram.css" | relURL }}' />
        <script type='module' src='{{ "js/hologram/main.js" | relURL }}'></script>
        <div id="hologram" data-src='{{ $.Params.hologram | relURL }}' ></div>
        index.html
      {{ end }}
    </aside>

    {{ partial "footer.html" . }}

  </main>
</body>

</html>