<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body class="front">
  <div class="container">
    <h1>{{ .Title | markdownify }}</h1>
    
    <nav role="navigation" class="flex-container big-link">
        {{ if .Site.Menus.main }}
          {{ range .Site.Menus.main }}
          <a href="{{ .URL }}">{{.Name}}</a>
          {{ end }}
        {{ end }}
    </nav>

    {{ .Content }}

    {{ partial "nav.html" . }}
    {{ partial "footer.html" . }}

  </main>
</body>

</html>